[run]
source =
    dframcy
    tests
branch = False
omit = setup.py
    dframcy/cli.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    RuntimeError
    NotImplementedError
    FileNotFoundError
    ImportError
    KeyError
    IOError
    if __name__ == .__main__.:
    messenger